<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Twisted Brew{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="{% static 'js/flot/excanvas.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.time.min.js' %}"></script>
    <script src="{% static 'js/flot/jshashtable-3.0.js' %}"></script>
    <script src="{% static 'js/flot/jquery.numberformatter-1.2.4.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.symbol.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.axislabels.js' %}"></script>

    {% block extra_head %}

    {% endblock %}
</head>
<style type="text/css">
    #background {
    position: fixed;
    top: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    }
    img.background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    transform: translate(0, -50%)
    }
</style>
<body>
<div id="background"><img width="100%" height="100%" class="background"
                          src="{% block background %}{% static 'img/beers.jpeg' %}{% endblock %}"></div>
<div style="position:fixed;top:4px;right:8px;z-index:9999">
{% block admin %}
    <small><a class="navbar-brand" href="/api/v1">[api root]</a></small>
    <small><a class="navbar-brand" href="/admin">[admin]</a></small>
{% endblock %}
</div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {% block heading %}{% endblock %}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
            <li class="{% if home_active %}active{% endif %}"><a href="/">Home</a></li>
            <li class="{% if brews_active %}active{% endif %}"><a href="/brew/">Brews</a></li>
            <li class="{% if workers_active %}active{% endif %}"><a href="/session/workers/">Workers</a></li>
            <li class="{% if commands_active %}active{% endif %}"><a href="/commands/">Commands</a></li>
            <li class="{% if measurements_active %}active{% endif %}"><a href="/session/measurements/">Measurements</a></li>
            <li class="{% if charts_active %}active{% endif %}"><a href="/charts/">Charts</a></li>
            <li class="{% if session_active %}active{% endif %}"><a href="/session/">Sessions</a></li>
            <li class="{% if session_dashboard_active %}active{% endif %}"><a href="/session/session_dashboard/">Dashboard</a></li>
            <li class="{% if messages_active %}active{% endif %}"><a href="/messages/">Messages</a></li>
            <li class="{% if warnings_active %}active{% endif %}"><a href="/warnings/">Warnings</a></li>
            <li class="{% if errors_active %}active{% endif %}"><a href="/errors/">Errors</a></li>
        </ul>
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    {% block content_heading %}
    No heading
    {% endblock %}
    {% block content %}
        <div class="tb_css_sidebar_page_content" id="tb_css_sidebar_page_content">
            <div class="tb_css_sidebar_page_sidebar" id="tb_css_sidebar_page_sidebar">
                {% block tb_sidebar_page_sidebar %}
                No sidebar
                {% endblock %}
            </div>
            <div class="tb_css_sidebar_page_main" id="tb_css_sidebar_page_main">
                {% block tb_sidebar_page_main %}
                No main
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
<div style="position:fixed;bottom:0px;left:0px;width:100%">
    {% block footer %}

    {% endblock %}
</div>
<div style="position:fixed;bottom:1px;right:4px">
    {% block logo %}
    &copy;<small><i>2014 Twisted Pair&#0153;</i></small>
    {% endblock %}
</div>
</body>
</html>