{% extends "base.html" %}

{% block content_heading %}
<h1>{{ welcome_message }}</h1>
<br />
{% include 'ping_master.html' %}
{% endblock %}
{% block content %}
{% load static %}
<h3>TODO:</h3>
<ul>
    <li><b>Hilmar</b></li>
    <ul>
        <li><strike>Time info from workers to web GUI</strike></li>
        <li><strike>Redesign session detail execution</strike></li>
        <ul>
            <li><strike>Manage session actions according to worker status</strike></li>
            <li><strike>Allow order rearrange on session details</strike></li>
            <li><strike>Allow skip detail</strike></li>
        </ul>
        <li><strike>Redesign project structure</strike></li>
        <li><strike>Make all configs related to classes use module path to allow external implementations</strike></li>
        <li><strike>Move all Beer Smith logic into the specialized importer</strike></li>
        <li><strike>Look into 'tail' functionality for messages</strike></li>
        <li><strike>Ping master</strike></li>
        <li><strike>Fuse twisted_brew.py into Django's manage.py</strike></li>
        <li>Make manage.py read the communication section of the config file for Master and Workers for Master.send_master and Master.start_work</li>
        <li>Autostart rabbitmq</li>
        <li><strike>Allow active workers as standalone worker widget</strike></li>
    </ul>
    <li><b>Hreiðar</b></li>
    <ul>
        <li>The box</li>
    </ul>
</ul>
{% endblock %}

{% block footer %}
{% include 'message_live_feed.html' with count=4 interval=10000 %}
{% endblock %}
