{% extends "base.html" %}

{% block content_heading %}
{% csrf_token %}
<h1>{{ welcome_message }}</h1>
<br />
{% include 'ping_master.html' %}
{% endblock %}
{% block content %}
{% load static %}
<h3>TODO:</h3>
<ul>
    <li><b>Hilmar</b></li>
    <ul>
        <li>Convert config from YAML to Json</li>
    </ul>
    <li><b>Hreiðar</b></li>
    <ul>
        <li>...</li>
    </ul>
</ul>
{% endblock %}

{% block footer %}
{%comment%}{% include 'message_live_feed.html' with count=4 interval=10000 %}{%endcomment%}
{% endblock %}
