{% extends "base.html" %}

{% block content_heading %}
<h1>{{ welcome_message }}</h1>
{% endblock %}
{% block content %}
{% load static %}
<h3>TODO:</h3>
<ul>
    <li><b>Hilmar</b></li>
    <ul>
        <li><strike>Time info from workers to web GUI </strike></li>
        <li>Redesign session detail execution <i>( in progress... )</i></li>
        <ul>
            <li>Manage session actions according to worker status <i>( in progress... )</i></li>
            <li><strike>Allow order rearrange on session details</strike></li>
            <li><strike>Allow skip detail</strike></li>
        </ul>
        <li><strike>Redesign project structure</strike></li>
        <li><strike>Make all configs related to classes use module path to allow external implementations</strike></li>
        <li>Make manage.py read the communication section of the config file for Master and Workers for Master.send_master and Master.start_work</li>
        <li>Incoporate twisted_brew.py into Django's manage.py</li>
        <li><strike>Move all Beer Smith logic into the specialized importer</strike></li>
        <li><strike>Look into 'tail' functionality for messages</strike></li>
    </ul>
    <li><b>Hreiðar</b></li>
    <ul>
        <li>The box</li>
    </ul>
</ul>
{% endblock %}

{% block footer %}
{% include 'message_live_feed.html' with count=10 interval=5000 %}
{% endblock %}
