<b>Type : [[ type ]]</b>

<div class="row-fluid">

  <div class="span3">
  <div class="span9">
    <h4>
      <ng-pluralize count="items.length"
                    when="{'0'    : 'No messages found. :-(',
                           'one'  : '1 messages found!',
                           'other': '{} messages found!'}">
      </ng-pluralize>
    </h4>

    <table class="table table-hover table-striped">
      <tr>
        <th><a href ng-click="sortBy('timestamp')">Rating [[sortIconFor('timestamp')]]</a></th>
        <th><a href ng-click="sortBy('type')">Name [[sortIconFor('type')]]</a></th>
        <th><a href ng-click="sortBy('text')">Price [[sortIconFor('text')]]</a></th>
      </tr>
      <tr ng-repeat="item in items">
        <td>
          [[ item.timestamp | date ]]
        </td>
        <td>
          [[ item.type ]]
        </td>
        <td>
          [[ item.text ]]
        </td>
      </tr>
    </table>
  </div>
</div>
</div>