{% extends "base.html" %}
{% block title %}Twisted Brew - Brews{% endblock %}

{% block real_content %}
    <h2>Charts</h2>

    <canvas id="myChart" width="400" height="200"></canvas>
    <br><br><input type='button' value='Update' onclick="getChartData();">

    <script type="text/javascript">

     var start_data = {
         labels: {{ chart_time|safe }},
         datasets: [
             {
                 fillColor: "rgba(255, 10, 10, 0.4)",
                 strokeColor: "rgba(255, 10, 10,1)",
                 pointColor: "rgba(255, 10, 10,1)",
                 pointStrokeColor: "#fff",
                 data: {{ chart_data }}
             },
             {
                 fillColor: "rgba(35, 200, 0, 0.1)",
                 strokeColor: "rgba(35, 200, 0,1)",
                 pointColor: "rgba(35, 200, 0,1)",
                 pointStrokeColor: "#fff",
                 data: {{ chart_set }}
             }
         ]
     };

     var ctx = document.getElementById('myChart').getContext("2d");
     var tempChart = new Chart(ctx).Line(start_data);

     function updateChart(json_data) {
        console.log(json_data);
        tempChart.datasets[0].addData(json_data.newvalue ,json_data.newlabel);
        tempChart.update();
     }

     function getChartData() {
         $.ajax({
             type: "GET",
             url: "http://127.0.0.1:8000/charts_update",
             dataType: "json",
             success: function (response) {
                 console.log(response);
                 console.log(responce.newlabel);
                 var update_data = JSON.parse(response);
                 console.log('Got data: ' + update_data);
                 updateChart(update_data);
             },
             failure: function (response) {
                 console.log("Error, got no data!");
             }
         });
     }

     </script>

{% endblock %}