{% extends "base.html" %}
{% block title %}Twisted Brew - Brews{% endblock %}

{% block real_content %}
    <h2>Charts</h2>


<script type="text/javascript">
function LineChart(placeHolderId, chartType, totalPoints, updateInterval) {
	// lineChart properties
	this.placeHolderId = placeHolderId;
	this.chartType = chartType;
	this.totalPoints = totalPoints;
	this.updateInterval = updateInterval;

    this.initUpdateInterval = updateInterval;
	this.setTempchartData = [];
	this.probeTempchartData = [];
	this.dummyData = [];
    this.chartData = [];
	this.setTemp = 0;
	this.probeTemp = 0;
	this.timeStamp = 0;
	this.noUpdateCount = 1;
    this.now = new Date().getTime();

	switch (this.chartType) {
		case 'mashChart':
			this.chartTicks = [5, "second"];
			break;
		case 'fermChart':
			this.chartTicks = [1, "hour"];
			break;
		default:
			this.chartTicks = [1, "minute"];
	}

	// to be able to access this.properties inside functions
	var _this = this;

    LineChart.prototype.getTicks = function(v, axis){
        var date = new Date(v);
        if (date.getSeconds() % 60 == 0) { // controls the space between printed ticks (so they don't overlap)
            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return hours + ":" + minutes + ":" + seconds;
        } else {
            return "";
        }
    };

	this.dataset = [
        { label: "Set Temp:" + _this.setTemp + "°C", data: _this.setTempchartData, lines: {fill: true,  lineWidth: 1.0 }, color: "rgba(0, 255, 0, 0.4)" },
        { label: "Probe Temp:" + _this.probeTemp + "°C", data: _this.probeTempchartData, lines: {lineWidth: 2.0}, color: "rgba(255, 0, 0, 0.8)" },
        { label: "", data: _this.dummyData, lines: {lineWidth: 0.0}, color: "rgba(0, 0, 0, 0.0)" }
    ];

	this.options = {
        xaxis: {
            mode: "time",
            tickSize: _this.chartTicks, // controls the space between each tick (vertical grid line) shown on the xaxis,
            tickFormatter: _this.getTicks,
            axisLabel: "Time",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
        },
        yaxes: [
            {
                min: 0,
                max: 110,
                tickSize: 5,
                tickFormatter: function (v, axis) {
                    if (v % 5 == 0) {
                        return v ;
                    } else {
                        return "";
                    }
                },
                axisLabel: "Temp °C",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 6
            }
        ],
        legend: {
            noColumns: 0,
            position:"nw"
        },
        grid: {
            backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
        }
    };

	// lineChart methods
	LineChart.prototype.initData = function(){
	    for (var i = 0; i < _this.totalPoints; i++) {
			_this.chartData = [_this.now += _this.updateInterval, 0];
			_this.dummyData.push(_this.chartData);
		}
	};

	LineChart.prototype.backOff = function (){
		_this.updateInterval =+ _this.initUpdateInterval*_this.noUpdateCount;
		if(_this.noUpdateCount < 5){
			_this.noUpdateCount++;
		}else{
			_this.noUpdateCount = 1;
		}
	};

	LineChart.prototype.update = function (_data) {
		var l = _data.latest_timestamp.length;
		if (l == 0){
			_this.backOff();
		}else{
			_this.updateInterval = _this.initUpdateInterval;
			_this.noUpdateCount = 1;
		}
		for (i = 0; i < l; i++) {
			_this.timeStamp = _data.latest_timestamp[i];
			_this.setTemp = _data.latest_set_point[i];
			_this.probeTemp = _data.latest_probe_temp[i];
			if (_this.setTempchartData.length >= _this.totalPoints) {
				_this.setTempchartData.shift();
				_this.probeTempchartData.shift();
			}
			_this.chartData = [_this.timeStamp, _this.setTemp];
			_this.setTempchartData.push(_this.chartData);
			_this.chartData = [_this.timeStamp, _this.probeTemp];
			_this.probeTempchartData.push(_this.chartData);
			_this.dummyData.shift();
		}

		_this.dataset[0].label = "Set Temp:" + _this.setTemp + "°C";
		_this.dataset[1].label = "Probe Temp:" + _this.probeTemp + "°C";

		$.plot($(_this.placeHolderId), _this.dataset, _this.options);
		setTimeout(_this.getData, _this.updateInterval);
	};

	LineChart.prototype.getData = function () {
		$.ajaxSetup({ cache: false });
		$.ajax({
			url: "http://127.0.0.1:8000/charts_update/",
			dataType: 'json',
			type: 'POST',
			data: {timestamp: _this.timeStamp+1000, csrfmiddlewaretoken: '{{ csrf_token }}'},
			success: _this.update,
			error: function () {
				_this.backOff;
				setTimeout(_this.getData, _this.updateInterval);
			}
		});
	}

    LineChart.prototype.drawChart = function () {
        _this.initData();
	    $.plot($(_this.placeHolderId), _this.dataset, _this.options);
	    setTimeout(_this.getData, _this.updateInterval);
    }

}


var mashChart1 = new LineChart('#mashChart1','mashChart',50,1000);
var mashChart2 = new LineChart('#mashChart2','mashChart',100,4000);

$(document).ready(function () {
	mashChart1.drawChart();
    mashChart2.drawChart();
});




</script>
<!-- HTML -->
<div>Mash Temp Graph</div>
<div id="mashChart1" style="width:1000px;height:500px;margin:0"></div>
<div>Fermentation Temp Graph</div>
<div id="mashChart2" style="width:1000px;height:500px;margin:0"></div>

{% endblock %}