{% extends "base.html" %}
{% block title %}Twisted Brew - Brews{% endblock %}

{% block real_content %}
    <h2>Charts</h2>

    <canvas id="myChart" width="800" height="400"></canvas>
    <script type="text/javascript">

                var start_data = {
                    labels: {{ chart_time|safe }},
                    datasets: [
                        {
                            fillColor: "rgba(255, 10, 10, 0.4)",
                            strokeColor: "rgba(255, 10, 10,1)",
                            pointColor: "rgba(255, 10, 10,1)",
                            pointStrokeColor: "#fff",
                            data: {{ chart_data }}
                        },
                        {
                            fillColor: "rgba(35, 200, 0, 0.1)",
                            strokeColor: "rgba(35, 200, 0,1)",
                            pointColor: "rgba(35, 200, 0,1)",
                            pointStrokeColor: "#fff",
                            data: {{ chart_set }}
                        }
                    ]
                };

                var ctx = document.getElementById('myChart').getContext("2d");
                new Chart(ctx).Line(start_data);

    $.ajax({
    type: "GET",
    url: "127.0.0.1:8000/charts_update/",
    dataType: "jsonp",
    success: function(update_data) {
        alert(update_data);
    },
    failure: function(update_data) {
        alert('Got an error dude');
    }
    });

     </script>

{% endblock %}