{% extends "base.html" %}
{% block title %}Twisted Brew{% endblock %}

{% block real_content %}
        <script>
            function set_command(cmd)
            {
                document.getElementById('id_command').value = cmd
            }
        </script>
    <h2>Commander</h2>
        Last message: {{ lastmessage }}
        <br />
        <form action="/commander/" method="post" class="form-group">
        <div class="col-lg-6">
            <div class="input-group">
                {% csrf_token %}
                {{ form }}
                 <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="submit"/>
                </span>

                <br />
                    <input type="submit" class="btn btn-default" onclick="set_command('LOAD Dummy')" value="load"/>
                    <input type="submit" class="btn btn-default" onclick="set_command('mash Mash Dude')" value="mash"/>
                    <input type="submit" class="btn btn-default" onclick="set_command('reset')" value="reset"/>
                    <input type="submit" class="btn btn-default" onclick="set_command('stop Mash Dude')" value="stop"/>
                    <input type="submit" class="btn btn-default" onclick="set_command('SHUTDOWN')" value="shutdown"/>
                <br />

            </div>
            </div>
        </form>
{% endblock %}