#session {
    /*border: #000000 solid;*/
    text-align:center;
    padding:0px;
}
#session_dashboard_middle {
    float:top;
}
#command_widgets {
    /*border: #000000 solid;*/
    height:100%;
    width:100px;
    float:left;
    padding:5px;
}
.command_widget {
    margin:5px 0px;
    height:100%;
    width:100px;
    float:top;
    padding:5px;
    /*box-shadow: -10px 10px 5px #888888;*/
}
#worker_widgets {
    /*border: #000000 solid;*/
    height:100%;
    width:100px;
    float:right;
    padding:5px;
}
#selected_session_details {
    /*border: #000000 solid;*/
    width:800px;
    float:left;
    padding: 20px;
    margin: 0px 10px;
    float:left;
    text-align:center;
}

#worker_selection {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#worker_selection div {
     width:300px;
     margin: 200px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
     box-shadow: -10px 10px 5px #888888;
}

.operation_assign_worker {
     float: left;
     visibility: visible;
}

.operation_pause {
     float: left;
     visibility: hidden;
}

.operation_resume {
     float: left;
     visibility: hidden;
}

.operation_reset {
     float: left;
     visibility: hidden;
}