{% extends "base.html" %}

{% block content_heading %}
<h1>{{ welcome_message }}</h1>
{% endblock %}
{% block content %}
{% load static %}
<h3>TODO:</h3>
<ul>
    <li><b>Hilmar</b></li>
    <ul>
        <li>Time info from workers to web GUI</li>
        <li>Redesign session detail execution</li>
        <ul>
            <li>Manage session actions according to worker status</li>
            <li>Allow order rearrange on session details</li>
            <li>Allow continuous work</li>
            <li>Allow skip detail</li>
        </ul>
        <li><strike>Look into 'tail' functionality for messages</strike></li>
    </ul>
    <li><b>Hreiðar</b></li>
    <ul>
        <li>The box</li>
    </ul>
</ul>
{% endblock %}

{% block footer %}
{% include 'message_live_feed.html' %}
{% endblock %}
