{% extends "base.html" %}

{% block content_heading %}
    <h2>Measurements</h2>
{% endblock %}
{% block content %}
        <form action="/measurements_clear">
            <input type="submit" value="Clear all measurements">

        </form>
        <table class="table table-hover">
            <tr>
                <th>Timestamp</th>
                <th>Session Detail</th>
                <th>Worker</th>
                <th>Device</th>
                <th>Value</th>
                <th>Set Point</th>
            </tr>
            {% for measure in measurements %}
            <tr>
            <td>
                {{ measure.timestamp|date:"G"}}:{{ measure.timestamp|date:"i"}}:{{ measure.timestamp|date:"s"}}
            </td>
            <td>{{ measure.session_detail }}</td>
            <td>{{ measure.worker }}</td>
            <td>{{ measure.device }}</td>
            <td>{{ measure.value }}</td>
            <td>{{ measure.set_point }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="3">No measurements found.</td></tr>
            {% endfor %}
            </table>
{% endblock %}