{% extends "base.html" %}


{% block content %}
    <h2>Messages</h2>
        <form action="/messages_clear">
            <input type="submit" value="Clear all messages">
        </form>
        <table class="table table-hover">
            <tr>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Message</th>
            </tr>
            {% for message in messages %}
            <tr>
            <td>
                {{ message.timestamp|date:"G"}}:{{ message.timestamp|date:"i"}}:{{ message.timestamp|date:"s"}}
            </td>
            <td>{{ message.type }}</td>
            <td>{{ message.text }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="3">No messages found.</td></tr>
            {% endfor %}
            </table>
{% endblock %}