<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/default/css/style.css" />
        <title>Twisted Brew</title>
    </head>

    <body>
        <h1>Welcome to Twisted Brew</h1>
        <h2>Workers</h2>
        <ul>
            {% for worker in workers %}
            <li>{{ worker.name }} - {{ worker.type }}</li>
            {% empty %}
            <li>No brew workers found.</li>
            {% endfor %}
            </ul>
        <h2>Brews</h2>
        <ul>
            {% for brew in brews %}
            <li>{{ brew.name }} - {{ brew.style }}</li>
            {% empty %}
            <li>No brews found.</li>
            {% endfor %}
         </ul>
        <h2>Commander</h2>
        Last message: {{ lastmessage }}
        <br />
        <form action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </body>

</html>